.container {
  width: 100%;
  height: 60px;
  background-color: black;
  border: 1px solid black;
}

.container1 {
  /* z index is automatically set by position */
  /* SEE PARENT/BODY and then POSITION YOURSELF */
  position: absolute;
  background-color: red;

  right: 20px;
  top: 10px;
  /* bottom: 10px; */
  /* z-index: 100; */
}

.container2 {
  /* SEE MY OWN STATIC POISTION and then ADJUST ACCORDING TO THAT */
  /* position: relative; */

  position: sticky;

  background-color: violet;

  top: 10px;

  /* right: 20px; */

  /* bottom: 10px ; */

  /* z-index: -1000; */
}

.container3 {
  background-color: green;
}

.container4 {
  position: fixed;
  background-color: orange;
  top: 10px;
  right: 10px;
}

.parent {
  /* position: relative; */
  height: 300px;
  background-color: aqua;
}
