.colorPallet {
  width: 100%;
  height: 100px;
  border: 1px solid black;

  margin: 10px;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pallet {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
