.container {
  border: 1px solid black;
  padding: 10px;
}

#grandparent {
  width: 400px;
  height: 400px;

  background-color: red;
}

#parent {
  width: 300px;
  height: 300px;

  margin: 20px;

  background-color: green;
}

#child {
  width: 150px;
  height: 150px;

  margin: 20px;

  background-color: aqua;
}
