.container {
  width: 100px;
  height: 100px;
  color: white;
  background: black;
}

body {
  position: absolute;
}

.container2 {
  position: relative;
  top: -50px;
  background-color: red;

  /* BY default z index is 0 */
  z-index: 0;
}

.container1 {
  position: relative;
  top: 20px;
  z-index: 10000000000000000000;
}

.container3 {
  position: relative;
  top: -100px;
  left: 30px;
  background-color: violet;
  z-index: 10000000000000000000;
}

.grandparent {
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: aqua;
}

.parent1 {
  width: 300px;
  height: 250px;

  position: relative;

  background-color: red;

  z-index: 2;
}

.parent2 {
  width: 300px;
  height: 250px;

  position: relative;

  background-color: green;

  top: -30px;
  left: 30px;

  z-index: 3;
}

.child1 {
  width: 50px;
  height: 50px;

  background-color: yellow;

  position: relative;

  top: 200px;

  z-index: 100000000000000000;
}

.child2 {
  width: 50px;
  height: 50px;

  background-color: rgb(244, 12, 163);

  position: relative;

  z-index: -10000000;
}
